

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title{
  text-align: center;
  text-decoration: solid;
  text-decoration-color: blue;
  text-size-adjust: 20;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #ffffff ;
  position: relative;
}

/* height of the container */
.leaflet-container {
  height: 100%;
  width: 100%;
  
  position: relative;
}


.cluster-icon {
  background-color: #333;
  height: 2em;
  width: 2em;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  box-shadow: 0 0 0px 5px #fff;
}



.button-container {
  display: flex;
  justify-content: right;
  margin: 20px;
}



.Alld {
  background-color:#fefae0;
  width: 100vw;
  height: 100vh;
}

.search-bar-container {
  padding-top: 10vh; /* Adjust the padding as needed */
  margin: 0 ; /* Center the container horizontally */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left side */
  width: 100%; /* Occupy full width */
  max-width: 600px; /* Set a maximum width */
}

/* Optional: Style your search input */
.search-input {
  padding: 10px;
  border: 1px solid #283618;
  border-radius: 5px;
  width: 100%; /* Occupy full width */
  box-sizing: border-box; /* Include padding and border in width */
}