

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title{
  text-align: center;
  text-decoration: solid;
  text-decoration-color: blue;
  text-size-adjust: 20;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #ffffff ;
  position: relative;
}

/* height of the container */
.leaflet-container {
  height: 100%;
  width: 100%;
  
  position: relative;
}

.App {
  background-color: #dda15e ;
  height: 100vh;
  width: 100%;
}


.button-container {
  display: flex;
  justify-content: right;
  margin: 20px;
}

.button-container button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}