

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title{
  text-align: center;
  text-decoration: solid;
  text-decoration-color: blue;
  text-size-adjust: 20;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #333;
  background-color: #ffffff ;
  position: relative;
}

/* height of the container */
.leaflet-container {
  height: 100%;
  width: 98%;
  
  display: flex;
}




